@model PostModel
@{
    ViewBag.Title = "Edit";
}
<script>
    $(function () {
        $("#PDate").datepicker({
            dateFormat: "dd.mm.yy"
        });
    });
</script>
<div class="row-fluid">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.PostId)
        <div class="col-md-6 form-horizontal">
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PTitle, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PTitle)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PLink, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PLink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PLink)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PImage, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PImage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PImage)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PDate, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PDate, Html.ToDisplayDateTime(Model.PDate),
                            new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PDate)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PPriceTypeId, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.PPriceTypeId,
                 new SelectList(ViewBag.PostPriceTypes, "id", "label", Model.PPriceTypeId),
                            new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PPriceTypeId)
                </div>
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PPrice, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PPrice, Html.ToDisplayDecimal(Model.PPrice),
                                                new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PPrice)
                </div>
            </div>
        </div>
        <div class="col-md-6 form-horizontal">
            <div id="groupDiscounts"></div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(m => m.PText, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.PText, new { @class = "form-control", @rows = 10 })
                    @Html.ValidationMessageFor(m => m.PText)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6" style="text-align: right;">
                <button type="submit" class="btn btn-primary">Запис</button>
                <a href="~/Home/InvalidPost" class="btn btn-default">Отказ</a>
            </div>
        </div>
    }
</div>